.spotify-logo{
    width: 40px;
    height: 40px;
    padding-right: 8px;
    box-sizing: content-box;
    font-weight: 400;
    background-image: url(https://ya-webdesign.com/images/white-spotify-logo-png.png)
}
