.top-container{
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    color: #b3b3b3;
    // background-image: linear-gradient(to right bottom, rgb(38, 33, 25), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    // background-image: linear-gradient(to right bottom, rgb(36, 40, 42), rgb(0, 0, 0));
    // background-image: linear-gradient(to right bottom, rgb(55, 67, 98), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    background-image: linear-gradient(to right bottom, rgb(103, 58, 50), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}
.contentSpacing{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
    height: 100%;
}
.main-content-nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.mc-nav-list-elements{
    display: inline-block;
}
.mc-nav-list-links{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 600;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    opacity: .6;
    position: relative;
    border: 0;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    text-decoration: none;
    transition: opacity .2s linear;
}
.mc-nav-list-links:hover{
    color: white;
    opacity: 1;
}
.grid-header-text{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    margin: 24px 0;
}
.grid-container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.grid-container-playlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 400px;
}
.playlist-index-item{
  display: flex;
  flex-direction: column;
  
  width: 16.6%;
  height: 100%;
  padding: 0 8px;

}
.playlist-index-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  background-size: cover;
  // float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.playlist-index-photo:hover{
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s;
    
}
// .playlist-play-toggle:hover{
//   color: white;
// }
.playlist-play-toggle{
  position: relative;
  text-align: center;
  font-size: 48px;
  opacity: 0;
  pointer-events: none;
  color: white;
  z-index: 100;
  // height: 100%;
}
.playlist-index-photo:before{
    content: "";
    display:block;
    padding-top:100%;
}
.cover-art-link{
    width: 300px;
    height: 300px;
    background-color: blue;
}
.media-item{
  margin: 12px 0 4px 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
#text{
    display:flex
}
.show{
  opacity: 1.0;
}