.Root-now-playing-bar{
    background-color: #181818;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    color: white;
}
.now-playing-bar-container {
    min-width: 620px;
    background-color: #282828;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: auto;
    user-select: none
}
.now-playing-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 114px;
    padding: 0 16px;
}
.now-playing-artwork{
    width: 56px;
    height: 56px;
    background-size: cover;
}
.now-playing-bar-left{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 60px;
    // justify-content: flex-start;
}
.now-playing-bar-middle{
    width: 40%;
    max-width: 722px;
    height: 60px;
    .np-controls{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .np-controls-buttons{
            display: flex;
            width: 224px;
            height: 32px;
            margin-bottom: 12px;
            justify-content: space-between;
            flex-flow: row nowrap;
            flex-direction: row;
            .control-button{
                border: none;
                color: #b3b3b3;
                width: 32px;
                min-width: 32px;
                height: 32px;
                position: relative;
                background: red;
            }
        }
    }
}
.now-playing-bar-right{
    width: 30%;
    height: 60px;
}
.now-playing-track-info{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.react-player{
    display:none;
}
.play-button{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 500px;
    border: 1px solid hsla(0,0%,100%,.6)
}
