.Root-now-playing-bar{
    background-color: #181818;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    color: white;
}
.hidden{
    display: none;
}
.now-playing-bar-container {
    min-width: 620px;
    background-color: #282828;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: auto;
    user-select: none
}
.now-playing-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 114px;
    padding: 0 16px;
}
.now-playing-artwork{
    width: 56px;
    height: 56px;
    background-size: cover;
}
.now-playing-bar-left{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 60px;
    // justify-content: flex-start;
}
.now-playing-bar-middle{
    width: 40%;
    max-width: 722px;
    height: 60px;
    .np-controls{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .np-controls-buttons{
            display: flex;
            width: 224px;
            height: 32px;
            margin-bottom: 12px;
            justify-content: space-between;
            flex-flow: row nowrap;
            flex-direction: row;

            .control-button{
                display: flex;
                justify-content: center;
                align-items: center ;
                border: none;
                color: #b3b3b3;
                width: 32px;
                min-width: 32px;
                height: 32px;
                text-align: center;
                position: relative;
                // vertical-align: middle;
                margin: auto;

            }
            .control-button-circled::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 500px;
                border: 1px solid hsla(0,0%,100%,.6);
            }
        }
    }
}
.now-playing-bar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    height: 32px;
    .volume-controls{
        width: 136px;
        align-items: center;
        display: flex;
        .icon-volume-up{
            padding-right: 20px;
        }
        .icon-volume-mute{
            padding-right: 20px;
        }

    }
}
.now-playing-track-info{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.play-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.playback-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.progress-bar{
    display: flex;
    height: 12px;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    .progress-bar-bg{
        background-color: #404040;
        display: flex;
        height: 4px;
        width: 100%;
        
        .progress-bar-wrapper{
            overflow: hidden;
            width: 100%;
            height: 4px;
            border-radius: 2px;
    
            .progress-bar-moving{
                background-color: #b3b3b3;
                height: inherit;
            }
            
            .progress-bar-button{
                content: "";
                border-radius: 10px;
                border: 1px solid hsla(0,0%,100%,.6);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: white
          

            }
        }

    }
}



.react-player{
    display:none;
}
.icon{
    vertical-align: middle;
}

