
.playlist-index-container{

  .playlist-content{
    padding: 2em 8px;
    min-height: 100vh;

    .playlist-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;

  
    .playlist-info{
      display: flex;
      flex-direction: column;
      width: 28.75%;
      max-width: 400px;
      // background:#1db954;
      margin: 0 auto 1.5em;
      text-align: center;
      padding: 0 8px;
      .playlist-image-container{

      }
      .playlist-cover-image{
      position: relative;
      width: 100%;		/* desired width */
      background-size: cover;
      // filter: grayscale(100%) contrast(55%);


      }
      .playlist-cover-image:before{
      content: "";
      display: block;
      padding-top: 100%; 	/* initial ratio of 1:1*/
      }
      
      .playlist-name{
      color: white;

      font-size: 28px;
      font-weight: 600;
      margin: 12px 0 .3em;
      }
      .playlist-author{
        margin-bottom: 15px;
      }
      .playlist-play-button{
        width: 60%;
        align-self: center;
        padding:11px 0; 
      }
      .playlist-description{
        font-size: 14px;
      }
    }
    
    .tracklist-container{
      width: 75%;
      padding: 0 8px 0;
      display: block;
      // background: #1c2743;
      .tracklist{
      height: inherit;
      width: 100%;
      list-style: none;
      margin-bottom: 1.5em;
      // height: 4.56em;
      .tracklist-row:hover{
        background-color: black;
        opacity: 0.7;
      }
      .tracklist-row{
        transition-property: background-color;
        transition-duration: 0.3s;
  
        height: 4.56em;
        display: flex; 
        align-items: center;
        flex-direction: row;
        line-height: 20px;
        // transition-property: background-color;
        // transition-duration: .2s;
        // transition-timing-function: linear;
        .tracklist-left{
        padding-right: 1em;
        
        }
        .tracklist-middle{
        display: block;
        // text-align: center;
        .tracklist-name{
          font-size: 16px;
          color: white;

        }
        .tracklist-artist{
          font-size: 14px;
        }

        }
        .tracklist-right{

        }
      }
      }

    }
  }
  }
}
