.sign-up{
    background: #fff;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.login-button-small{
    color: #1DB954;
    text-decoration: none;
    font-weight: 600;
}
.signup-input{
    height: 48px;
}
.signup-row{
    height: 48px;
    margin-bottom: 16px;
}
.signup-to-continue{
    margin-bottom: 18px;
    font-size: 18px;
}
